/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
/** || Universal */
* {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: var(--ff-general) !important;
    text-decoration: none;
}

/** || body */
body {
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/** || header, section, footer */
header,
section,
footer {
    margin: 0 5.660%;
}

/** || headings' style */
h1 {
    font-size: var(--fs-small-20);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-small-20);
    font-weight: var(--fw-bold);
}

/** || hrs' style */
hr {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid var(--clr-border);
}

/** || header */
header {
    margin-top: 5.820%;
    margin-bottom: 5.555%;
}

/** || list-notification Section */
.list-notifiactions {
    margin-bottom: 15.363%;
    /** to make the element fill the remaining viewport height */
    height: 100vh;
}

.list-notifiactions>a:link>div * {
    color: var(--clr-font);
}

.list-notifiactions>a:visited>div * {
    color: var(--clr-font);
}

.list-notifiactions>a:hover>div * {
    color: var(--clr-font);
}

.list-notifiactions>a:active>div * {
    color: var(--clr-font);
}

.card {
    display: flex;
}

.card>img {
    width: 50.9402%;
}

.content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content>p:first-child {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
}

.content>p:last-child {
    font-size: var(--fs-small-10);
    font-weight: var(--fw-regular);
    color: var(--clr-new) !important;
    align-self: flex-end;
}

/** || footer */
footer {
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

footer>p,
footer>button {
    grid-column: 1 / 5;
    margin-bottom: 15px;
}

footer>p {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    line-height: 128%;
}

footer>button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: var(--fs-small-12);
    font-weight: var(--fw-bold);
    margin-bottom: 0;
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
}

footer>button:hover {
    text-decoration: none;
}

footer>hr {
    margin: 10px 0;
    grid-column: 1/5;
}

footer>p:last-child {
    font-size: var(--fs-small-10);
    font-weight: var(--fw-regular);
    margin-bottom: 0;
}